# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

Makefile.*
*.Debug
*.Release
*.rc
*.zip

debug
release
build*
distwin/

QFramer.pro.user
QFramer.pro.user.*
QCFramer.pro.user
QCFramer.pro.user.*
*.pro.user

*.pyc

logs/*.log

tools/tpce/*.json
tools/tpce/*.log
tools/tpce/flat_out

tools/tpce-centos7.6.1810/*.json
tools/tpce-centos7.6.1810/*.log
tools/tpce-centos7.6.1810/flat_out


tools/tpce-centos7.5.1804/*.json
tools/tpce-centos7.5.1804/*.log
tools/tpce-centos7.5.1804/flat_out

logs/*.log.*

tools/tpce-centos7.6.1810/flat_out/*
tools/tpce-centos7.5.1804/flat_out/*

tools/*/*.log
tools/*/*.log.*
tools/*/result.txt
sqlnet.log

tools/tpceagent/result-*.json

tools/tpce_createdata/flat_out/

tools/tpceagent/*.db
tools/tpceagent/*.db-journal
fileshelf/static/*
fileshelf/tmpl/*


tools/tpce_importdata/*/*.log


fileshelf/static/edit
fileshelf/tmpl/dir
fileshelf/tmpl/edit
fileshelf/tmpl/epub
fileshelf/tmpl/img
fileshelf/tmpl/markdown


tools/tpcds_createdata/*g/

results
*.pdf

dist/
release/

static/fireflysung.cw127.pkl
static/fireflysung.pkl
vue-sites/node_modules
uploadfiles